@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.cdnfonts.com/css/modern-warfare");
@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
.grid {
  display: grid;
  width: 400px;
  height: 400px;
  border-color: #fffff0;
  background-color: #f5f1ed;
}

h1 {
  font-family: "Stalinist One", cursive;
  color: #252323;
  text-align: center;
  font-weight: lighter;
  font-size: 4rem;
}
.grid-container {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #f5f1ed;
  color: #463f3a;
}
.grid-item-PC,
.grid-item-player {
  border: 1px solid #252323;
  background-color: #f5f1ed;
}
.grid-item-PC:hover {
  background-color: #252323;
}
.play-again {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.28);
}
.play-again-div {
  border-radius: 20px;
  background-color: #f5f1ed;
  width: 300px;
  height: 150px;
  color: #252323;
  font-family: "Stalinist One", cursive;
  font-size: 1.2rem;
}
.play-again-btn {
  font-family: "Stalinist One", cursive;
  font-size: 1.5rem;
  transition: transform 0.1s ease-in-out 0s;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #252323;
  color: #f5f1ed;
  border: 0;
}

.play-again-btn:hover {
  transform: scale(1.05);
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  color: #e4dccf;
  z-index: 100;
  background-color: #f5f1ed;
}
h2 {
  font-size: 3rem;
  font-family: "Stalinist One", cursive;
  margin: 0;
  padding: 0;
  color: #252323;
}
.info {
  font-size: 1.5rem;
  padding: 20px;
  font-family: "Stalinist One", cursive;
  color: #252323;
}

.grid-popup {
  display: grid;
  visibility: visible;
  width: 500px;
  height: 500px;
}
.grid-item-popup {
  border: 1px solid #252323;
  background-color: #f5f1ed;
}
