@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
.grid {
  display: grid;
  width: 400px;
  height: 400px;
  border-color: #fffff0;
  background-color: #fffaf0;
  border-style: inset;
}

h1 {
  font-family: "Rubik Dirt", cursive;
  color: blanchedalmond;
  text-align: center;
  font-weight: lighter;
}
.grid-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
body {
  background-color: grey;
}
.grid-item-PC,
.grid-item-player {
  border: 1px solid black;
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  color: #e4dccf;
  z-index: 100;
  background-color: whitesmoke;
}
h2 {
  font-size: 4rem;
}
.grid-popup {
  display: grid;
  visibility: visible;
  width: 500px;
  height: 500px;
}
.grid-item-popup {
  border: 1px solid black;
  background-color: white;
}
