.grid {
  display: grid;
  width: 500px;
  height: 500px;
  border-color: #fffff0;
  background-color: #fffaf0;
  border-style: inset;
}

h1 {
  color: blanchedalmond;
}
body {
  background-color: grey;
}
.grid-item {
  border: 1px solid black;
}
